<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bonnes Lectures</title>
</head>
<body>
  <h1><b>Bonnes lectures</b></h1>
  <p>
    Vous souhaitez des avis sur les dernières nouveautés littéraires? Vous souhaitez des
    recommendations pertinentes pour choisir votre prochain livre? Vous êtes là où il
    faut! <br />
    Feuilletez les critiques de millions d’ouvrages passés en revue par des lecteurs comme
    vous. <br />
    Créez votre profil, dites-nous quels sont les derniers titres que vous avez aimés, ou
    vos genres favoris, et nous vous conseillerons.
  </p>

</body>
</html>
